body {
	margin:0px;
	padding:0px;
}
#fb-root {
	background:url(../img/bg.png) no-repeat;
	min-height:500px;
}
#fb-root > div.quote {
	float:left;
	margin-left:255px;
	margin-top:30px;
	max-width:435px;
	padding:10px;
	border:2px solid black;
	border-radius:10px;
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	box-shadow: 5px 5px 5px #ccc;
}
